@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

a,
a:focus,
a:active {
	text-decoration: none;
	color: black;
}

.navbar {
	display: flex;
	padding: 1rem;
	border-bottom: solid 1px #000;
}

.navbar .links {
	margin-left: auto;
}

.navbar .links a {
	margin-left: 1rem;
}

.content {
	padding: 1rem;
}

.blog-preview {
	padding: 1rem;
	margin: 1rem 0;
	border: solid 1px #000;
}

.create form {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
}

.create label,
.create button {
	margin: 2rem 0 0.25rem;
}
